<div class="events">
    <form name="addEventForm" class="form-main" ng-submit="addEvent()">
        <div class="eventdiv eventname">
            <h4>Enter Event Name:</h4>
            <input type="text" placeholder="add event name" name="name" ng-model="name" value="{{name}}" />
        </div>
        <div class="eventdiv eventfees">
            <h4>Entry Fees:</h4>
            <input type="text" placeholder="add event fees" name="fees" ng-model="fees" value="{{fees}}"/>
        </div>
        <div class="eventdiv eventcg">
            <h4>Chief Guest:</h4>
            <input type="text" placeholder="event chiefguest name" name="chiefguest" ng-model="chiefguest" value="{{chiefguest}}" />
        </div>
        <div class="eventdiv eventhost">
            <h4>Host By:</h4>
            <input type="text" placeholder="event host name" name="host" ng-model="host" value="{{host}}" />
        </div>
        <div class="eventdiv eventhost">
            <h4>Event Date:</h4>
            <input type="date" placeholder="event host name" name="date" ng-model="date" value="{{ date | date: 'MM-dd-yyyy' }}"/>
        </div>
        <div class="eventsubmit">
            <input class="submitbtn" type="submit" value="add new event"/>
        </div>
    </form>
</div>