<div class="events">
    <form name="addEventForm" class="form-main">
        <div class="eventdiv eventname">
            <h4>Enter Event Name:</h4>
            <input type="text" placeholder="add event name" name="name" />
        </div>
        <div class="eventdiv eventfees">
            <h4>Entry Fees:</h4>
            <input type="text" placeholder="add event fees" name="fees" />
        </div>
        <div class="eventdiv eventcg">
            <h4>Chief Guest:</h4>
            <input type="text" placeholder="event chiefguest name" name="chiefguest" />
        </div>
        <div class="eventdiv eventhost">
            <h4>Host By:</h4>
            <input type="text" placeholder="event host name" name="host" />
        </div>
        <div class="eventdiv eventhost">
            <h4>Event Date:</h4>
            <input type="date" placeholder="event host name" name="date" />
        </div>
    </form>
</div>