<div class="events">
    <div>
        <div ng-repeat="event in events" ng-init="prevevents(event)"></div>
        <h1>{{previoustitle}}</h1>
        <ul class="events-list">
            <li ng-repeat="event in prevEvents">
                <h3>{{ event.name }} by {{ event.chiefguest }}</h3>
                <h4> Entry Fees: {{ event.entryfees }}</h4>
                <h5> hosted by: {{ event.host }}</h5>
                <h5> Date: {{ event.date | date }} </h5>
            </li>
        </ul>
    </div>
    <div>
        <div ng-repeat="event in events" ng-init="runningevents(event)"></div>
        <h1>{{runningtitle}}</h1>
        <ul class="events-list">
            <li ng-repeat="event in runningEvents">
                <h3>{{ event.name }} by {{ event.chiefguest }}</h3>
                <h4> Entry Fees: {{ event.entryfees }}</h4>
                <h5> hosted by: {{ event.host }}</h5>
                <h5> Date: {{ event.date | date }} </h5>
            </li>
        </ul>
    </div>
    <div>
        <div ng-repeat="event in events" ng-init="upcomingevents(event)"></div>
        <h1>{{upcomingtitle}}</h1>
        <ul class="events-list">
            <li ng-repeat="event in upcomingEvents">
                <h3>{{ event.name }} by {{ event.chiefguest }}</h3>
                <h4> Entry Fees: {{ event.entryfees }}</h4>
                <h5> hosted by: {{ event.host }}</h5>
                <h5> Date: {{ event.date | date }} </h5>
            </li>
        </ul>
    </div>
</div>