body{
    background-color: #25274d;
    min-height: 100%;
}
.menu-bar{
    background: #464866;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}
.menu-bar ul{
    float: right;
    list-style-type: none;
    padding: 0;
    margin: -50px 10px;
    padding-right: 35px;
}
.menu-bar li{
    float: right;
    margin-left: 25px;
    font-size: 18px;
}
.menu-bar a{
    color: #aaabb8;
}
.menu-bar h1{
    padding-left: 35px;
    color: #aaabb8;
}
.home-content{
    padding-right: 35px;
    padding-left: 35px;
}
.home-content p{
    font-size: 20px;
    color: #2e9cca;
}
.events{
    margin-left: 35px;
    margin-right: 35px;
}
.events h1{
    color: #2e9cca;
    text-align: center;
}
.events ul{
    list-style-type: none;
    margin: 15px;
}
.events li{
    background: #aaabb8;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #25274d;
}
.events h2{
    text-align: center;
    color: #aaabb8;
}
.eventdiv{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.eventdiv h4{
    color:#aaabb8;
    text-align: center;
}
.eventdiv input{
    width:100%;
    align-self: center;
    border-radius: 5px;
    height: 30px;
}
.eventdiv ::placeholder{
    text-align: center;
    font-size: 15px;
}
.eventdiv ::-webkit-datetime-edit { 
    text-align: center; 
    font-size: 15px;
    padding-left: 45px;
}
.eventsubmit{
    text-align: center;
    margin-top: 30px;
}
.submitbtn{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    cursor: pointer;
}